body {
  text-align: center;
  background-image: url('https://mcdn.wallpapersafari.com/medium/40/64/ZpKJ1u.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 90vw;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 5px solid;
  border-radius: 50%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: transparent;
  border-color: red;
  margin-left: 100px;
}

.green {
  background-color: transparent;
  border-color: green;
  margin-right: 100px;
}

.blue {
  background-color: transparent;
  border-color: blue;
  margin-left: 50px;
}

.yellow {
  background-color: transparent;
  border-color: yellow;
  margin-right: 50px;
}

@media (max-width: 720px){
  .btn{
    width: 80px;
    height: 80px;
  }
}
